rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Common functions
    function userIsAdmin () {
      return request.auth.token.isAdmin == true
    }

    match /{document=**} {
      allow read, write: if false;
    }

    // Read only for authenticated users. Write for admins
    match /leagueInfo/{leagueId} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();

      match /pointsAssignments/{pointID} {
        allow read: if request.auth.uid != null;
        allow write: if userIsAdmin();
      }

      // Only admins should be able to read or write game templates
      match /gameTemplates/{templateID} {
        allow read, write: if userIsAdmin();
      }

    }

    // Only admins should be able to read or write game templates
    match /tournamentResults/{tournamentID} {
      allow read, write: if userIsAdmin();
    }

    match /gameDates/{gameId} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();
    }

    match /seasonStandings/{gameId} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();
    }

    match /weeklyResults/{gameId} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();
    }

    match /announcements/{gameId} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();
    }

    // Users can only view their own user document unless admin
      match /users/{userId} {
        allow read: if request.auth != null && request.auth.uid == userId
        allow read, write: if userIsAdmin();
      }

    // Document user owner can update, admins can create, update & delete, all others read only
    match /players/{playerID} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();
      allow update: if request.auth.token.playerID == playerID;
    }
    match /subscribers/{playerID} {
      allow read: if request.auth.uid != null;
      allow write: if userIsAdmin();
      allow update: if request.auth.token.playerID == playerID;
    }

    // Messages:
    //   - Anyone can read.
    //   - Authenticated users can add and edit messages.
    //   - Validation: Check name is same as auth token and text length below 300 char or that imageUrl is a URL.
    //   - Deletes are not allowed.
    match /messages/{messageId} {
      allow read, write: if request.auth.uid != null;
    }

    // fcmTokens:
    //   - TO-DO: Update so that only user owners and admins can read/write tokens
    match /fcmTokens/{tokenId} {
      allow read, write: if request.auth.uid != null;
    }

    // web push subscriptions:
    //   - TO-DO: Update so that only user owners and admins can read/write tokens
    match /notifSubscribers/{subId} {
      allow read, write: if request.auth.uid != null;
    }

  }
}
