// app global css in SCSS form
html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.row {
  // max-width: 114rem;
  margin: 0;
}

.small-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.large-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }
  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}

.constrain-more {
  max-width: 600px;
  margin: 0 auto;
}

// Transition presets
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: 0.5s;
}

.slide-enter {
  opacity: 0;
  transform: scale3d(2, 0.5, 1) translate3d(400px, 0, 0);
}

.slide-enter-to {
  transform: scale3d(1, 1, 1);
}
.slide-enter-active,
.slide-leave-active {
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.slide-leave {
  transform: scale3d(1, 1, 1);
}

.slide-leave-to {
  opacity: 0;
  transform: scale3d(2, 0.5, 1) translate3d(-400px, 0, 0);
}

.rotate-enter {
  transform: perspective(500px) rotate3d(0, 1, 0, 90deg);
}
.rotate-enter-active,
.rotate-leave-active {
  transition: 0.5s;
}
.rotate-leave-to {
  transform: perspective(500px) rotate3d(0, 1, 0, -90deg);
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease;
}

.slide-right-enter-active,
.slide-left-enter-active {
  transition-delay: 0.5s;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(-300px);
}
.slide-left-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.slide-left-leave {
  opacity: 1;
  transform: translateX(0px);
}

.slide-left-leave-to {
  opacity: 0;
  transform: translateX(-300px);
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(300px);
}
.slide-right-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.slide-right-leave {
  opacity: 1;
  transform: translateX(0px);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translateX(300px);
}

// Cropperjs
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
